body, html{
    font-family: 'Gotham 7r', 'Gotham A', 'Gotham B', Arial, sans-serif;
    display: block;
    position: fixed;
    padding: 0;
    width: 100%;
    height: 100%;
    float:left;
    text-align: center;
}
#pages {
    margin-top: -55px;
    width:100%;
    height:100%;
    display:block;
    padding: 0;
    float:left;
}
.onepage-pagination{
    display: none;
}


h1 {
    font-size: 62px;
    font-weight: 200;
    letter-spacing: -3px;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 50px;
    z-index: 1;
}
h2 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -2px;
    margin-bottom: 0;
    line-height: 48px;
    margin-top: 0;
}
h3 {
    font-size: 42px;
    font-weight: 900;
    line-height: 50px;
    margin-bottom: 8px;
    z-index: 1;
    margin-top: 0;
}
h4 {
    font-size: 31px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 38px;
}
.check-it.out {
    letter-spacing: -2px;
}
.second-slide-Text h2{
    margin-bottom: 20px;
}
.paragraph {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 400;
}
.white {
    color:white;
}
.wardrobe {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 40px;
    color:#666;
    letter-spacing: -1px;
    padding: 0 100px;
}
.way-to-work-content h4 {
    color: white;
}
.way-to-work-content p {
    color:#26ddfd;
}
.booking-flight-text{
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -1px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 40px;
}
.laptop-surfer{
    color:#00366a;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.5px;
    position: relative;
    bottom: -19%;
    padding: 0 100px;
}
.getting-fun{
    font-size: 20px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 40px;
    letter-spacing: -1px;
    padding: 0 40px;
    color: #00506f;
}
.no-nonsense p {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
}
.pass-text {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #555;
    letter-spacing: -1px;
    padding: 0 100px;
}
.text-change-color {
    font-size: 20px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 40px;
    color:#880000;
    padding: 0 100px;
}
.display-iPad h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0;
    margin-top: -36px;
    text-align: left;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    position: absolute;
    top: 50%;
    left:10%;
}
.display-iPad strong{
    display: block;
    font-size: 67px;
    line-height: 60px;
    text-indent: -5px;
    letter-spacing: -3px;
    font-weight: 100;
}







.socialmedia {
    padding-top: 40px;
    position: absolute;
    width: 80px;
    top: 8%;
    right: 5%;
}

i.buttonsSocial {
    color:#CCC;
}
.buttonsSocial:hover {
    margin-top: -80px;
    color: #666;
}
.logo-size {
    width: 12%;
    height: 55px;
    left: 15%;
    position: absolute;
    top: 90px;
}

.slide {
    height: 100%;
    width: 100%;
}
.background-cover {
    margin-top: -60px;
    padding-bottom: 60px;
    background-size: cover;
    background: url("../img/page6/picture-bg.jpg") center center no-repeat;
    background-attachment: local;
     /* background-size: 100% auto; */
}
.slide:nth-child(1) {
    background-color: #FFF;
    z-index:-2;
}
.slide:nth-child(2) {
    color:white;
    background-color: #7b4397;
}
.slide:nth-child(3) {

    background-color: #178bfb;
}
.slide:nth-child(4) {
    color:white;
    background-color: #7b4397;
}
.slide:nth-child(5) {

    background-color: #3cc5f1;
}
.slide:nth-child(6) {

    background-color: #19a3c0;
}
.slide:nth-child(7) {

}
.slide:nth-child(8) {

    background-color: #EDEDED;
}
.slide:nth-child(9) {

}
.slide:nth-child(10) {

    background-color: #262a2d;
}
.slide:nth-child(11) {
    background-color: #FFF;
}
/*medias*/
.welcome {
    max-height: 700px;
    width: 100%;
    height: 550px;
    position: absolute;
    top: 24%;
    z-index: -1;
    top: 31%;

}
.illustration-cover{
    border: 0;
    display: block;
    max-height: 700px;
    height: 100%;
    width: 100%;
    bottom: 53px;
}
.content {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    max-height: 700px;
    height: 100%;
}
.center-image-laptop {
    margin: 11px auto 60px;
    max-height: 325px;
}

.center-image-laptop:not(.display-already, .first-lap) {
    display: none;
}

.laptop {
    max-width: 558px;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.next {
    display: block;
    position: absolute;
    margin-left: -40px;
    width: 80px;
    bottom:-46px;
    left:50%;
    height:80px;
}
.next:hover{
    bottom: -30px;
}
.mask {
    position: absolute;
    top: -1px;
    height: 50px;
    width: 100%;
    z-index: 10;
    background: url("../img/page4/arrow-mask.svg") center 1px no-repeat;
    background-size: 2560px 68px;
}
.mask-next {
    display: block;
    height: 100%;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}
.paragraph {
    margin: 20px 0;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 28px;
    width:980px;
    height:56px;
}

.way-to-work-content {
    margin-top: 57px;
    width:100%;
    height:400px;
}
.demo-column {
    display:block;
    float:left;
    width: 50%;
    box-sizing: border-box;
    padding:0 40px 0 60px;
}
.demo-column:first-child {
    border-right: 1px solid #1373d0;
}

.demo {
    margin: 40px 0;
    width: 77%;
}
#animation-guy {
    width:31%;
    margin:40px auto;
    position:relative;
}
.gear {
    height: 16%;
    position:absolute;
}
#gear-1 {
    top: 16%;
    left: 30%;
}
#gear-2 {
    top: 26%;
    left: 19%;
}







.display-lap {
    position: relative;
    display: block;
    margin-right: auto;

}
.display-lap:not(.display-iPad) {
    overflow: hidden;
}

.display-pos-1 {
    height: 252px;
    width: 414px;
    left: -0.2%;
    margin-left: auto;
    margin-bottom: auto;
    position: relative;
    top: -290px;
}
.display-pos-1>div {
    height:100%;
    width:100%;
    position:absolute;
    top:auto;
}
.display-pos-1>div:not(:first-child) {
    bottom:-100%;
}
.first-laptop-slide {
    bottom:0;
}
.focus {
    position: relative;
    border: 2px solid rgba(128,0,128, 0.4);
    box-sizing: border-box;
    display:none;
}
#flow-1>div{
    height: 10%;
    width: 11.2%;
    left: 25.5%;
    top: -80%;
}
#flow-2>div{
    height: 16%;
    width: 9.5%;
    left: 34.5%;
    top: -43%;
}
#flow-3>div{
    height: 6%;
    width: 4%;
    left: 76%;
    top: -38%;
}
#flow-4>div{
    height: 6.5%;
    width: 6.5%;
    left: 63.2%;
    top: -70%;
}
/**/
.devices{
    height:200px;
    width: 590px;
    margin-right: auto;
    margin-left: auto;
    top: 16%;
    position:relative;
}
.devices>div {
    /*height: 100%;*/
    position: relative;
    float: left;
    opacity: 0;
}
.devices img{
    width:100%;
    height:100%;
}
.desktop{
    width: 58%;
    right: -70px;
}
.tablet {
    width: 29%;
    right: 70px;
}
.iPhone {
    width: 13%;
    right: 70px;
}



/**/
.display-lap img {
    max-width: 100%;
    max-height: 100%;
}
.display-lap img:not(.no-width) {
    width:100%;
}
.display-pos-2 {
    width: 425px;
    height: 266px;
    top: -305px;
    margin-left: auto;
    margin-right: auto;
}
.display-pos-2>div {
    height:100%;
    width:100%;
    position: absolute;

}
.display-pos-2>div:not(:first-child) {
    display: none;
    opacity: 0.5;
}
#flash-1>div{
    height: 5%;
    width: 5.5%;
    top: -56.5%;
    left: 36.5%;
}
#flash-2>div{
    height: 5%;
    width: 5%;
    top: -56.5%;
    left: 29.5%;
}
#flash-3>div{
    height: 5%;
    width: 5.5%;
    top: -56.5%;
    left: 22%;

}
.content-task h2{
    margin-bottom: 15px;
}
/**/
.no-nonsense {
    box-sizing: border-box;
    color: #FFF;
    display: none;
    position: absolute;
    right: 2%;
    top: 15%;
    height: 87%;
    padding: 40px 40px 380px;
    width: 420px;
    background: rgba(0,0,0, 0.75) url("../img/page6/picture-iphone.png") bottom center no-repeat;
}
.no-nonsense>img {
    position: absolute;
    width:150px;
    left: 50%;
    margin-left: -85px;
    bottom: 25px;
    display:none;
}
/**/
.boarding-pass{
    margin: 50px auto 0;
    max-width: 1180px;
    height: 70%;
    position: absolute;
    width: 100%;
}
.vine{
    left: 10%;
    top: 8px;
    width: 310px;
    height: 310px;
    z-index: 3;
    position: absolute;
}
.vine-loading{
    width: 100%;
    height: 100%;
}
.arrow {
    top: 140px;
    left: 46.5%;
    background: url("../img/page7/arrow.png") center center no-repeat;
    background-size: contain;
    height: 31px;
    margin-left: -10px;
    position: absolute;
    width: 41px;
    z-index: 2;
}
.hand {
    right: 10%;
    top: 600px;
    position: absolute;
    z-index: 0;
}
.hand-size {
    width: 500px;
}

/**/
.display-iPad {
    height:48%;
    color:white;
}
.display-iPad>div:not(.filter) {
    height: 100%;
    width: 100%;
}
.display-iPad>div:not(:first-child):not(:last-child) {
    display: none;
}
.filter {
    opacity: 0;
    z-index: 1;
    position: relative;
    top: -317px;
    margin-left: auto;
    margin-right: auto;
    width: 417px;
    height: 317px;
}
section[data-index="9"] {
    background-color: hsla(1, 97%, 60%, 1);
    background-image: -webkit-linear-gradient(#804197, #bb2188, rgba(255,255,255,0) 40%);
    background-image: -moz-linear-gradient(#804197, #bb2188, rgba(255,255,255,0) 40%);
    background-image: -o-linear-gradient(#804197, #bb2188, rgba(255,255,255,0) 40%);
    background-image: -ms-linear-gradient(#804197, #bb2188, rgba(255,255,255,0) 40%);
    background-image: linear-gradient(#804197, #bb2188, rgba(255,255,255,0) 40%);
}

.look{
    margin: -190px auto 0;
    text-align: center;
    max-width: 1180px;
    height: 55%;
    max-height: 360px;
    top: 55%;
    overflow: hidden;
    position: absolute;
    width: 100%;

}
.look>div{
    max-width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    width:100%;
}
.look>div:not(.content-logo){
    opacity: 0;
}
.look img {
    margin: auto;
    display:block;
    position: relative;
    max-width: 80%;
}
.content-new-logo {
    max-height: 40%;
}
.content-cities{
    max-height: 90%;
}
.content-icon {
    max-height: 70%;
}
.content-avatars {
    max-height: 50%;
}

/**/
.book {
    background: #fc3735;
    color: #FFF;
    display: block;
    font-size: 20px;
    font-weight: 600;
    height: 70px;
    letter-spacing: -1px;
    line-height: 70px;
    margin: 0 auto;
    text-transform: uppercase;
    width: 370px;
    text-decoration: blink;
}
.book:hover {
    background: #FF0000;
}
.final-logo{
    background: #FFF;
    border-top: 1px solid #DDD;
    box-sizing: content-box;
    display: block;
    height: 100px;
    position: absolute;
    padding-top: 30px;
    bottom: 0;
    width: 90%;
    margin: 0 5%;
    position: relative;
    top: 66%;
}
.final-logo-icon{
    width: 150px;
    margin: 0 auto;
}
.more-questions {
    display: block;
    position: relative;
    top: -114%;
    color: #888;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-decoration: blink;
}
.more-questions:hover {
    color:#804197;
}
.backgroundColor-effect {
    color: #fc3735;
    display: block;
    font-size: 100px;
    font-weight: 100;
    letter-spacing: -6px;
    line-height: 105px;
    margin: 0 auto 0 auto;
    background: -webkit-linear-gradient(left, #7b4397, #fc3735, #7b4397);
    background-size: 1600px 200px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.wrapper{
    position: relative;
    top: 15%;
}
.wrapper {
    color: #000;
    display: block;
    font-size: 20px;
    font-weight: 300;
    height: 70px;
    line-height: 70px;
    margin: 0 auto 15px auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .paragraph {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.5px;
    }
    .demo-column:first-child {
        padding:0 60px 0 40px;
    }
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 21px;
        line-height: 25px;
        letter-spacing: -1.5px;
    }
    h2:not(.non-top-spacing){
        margin-top: 100px;
    }
    .logo-size {
        width:100px;
        top: 71px;
    }
    h1{
        font-size: 30px;
        line-height: 32px;
        letter-spacing: -2px;
        margin-bottom: 5px;
        margin-top: 138px;
    }
    .check-it-out{
        font-size: 24px;
        letter-spacing: -1px;
        line-height: 28px;
    }
    .first-lap {
        width:100%;
    }
    .content {
        padding: 30px 40px;
        margin-top: 55px;
    }
    .none-padding{
        padding:0;
    }
    .booking-flight-text{
        font-size: 13px;
        letter-spacing: 0;
        line-height: 16px;
    }
    .laptop {
        max-width: 300px;
    }
    #laptop-1{
        width: 100%;
    }
    .display-pos-1 {
        height: 143px;
        width: 224px;
        top: -165px;
    }
    .paragraph{
        font-size: 13px;
        letter-spacing: 0;
        line-height: 16px;
        margin: 10px 0 30px;
        padding: 0;
        width:100%;
    }
    .demo-column {
        width: 100%;
        padding: 0;

    }
    .demo-column:first-child {
        border-right: 0;

    }
    #demo-part-2{
        display: none;
    }

    .way-to-work-content h4{
        font-size: 22px;
        line-height: 24px;
    }
    .way-to-work-content p{
        color: #FFF;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0;
    }
    .way-to-work-content {
        margin-top: 20px;
    }
    .demo {
        margin: 15px 0 5px;
    }
    #animation-guy {
        width: 45%;
        margin: 17px auto;
    }
    #gear-1 {
        top: 16%;
        left: 31%;
    }
    #gear-2 {
        top: 26.5%;
        left: 20%;
    }
    .laptop-surfer{
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0;
        padding: 0 30px;
    }
    .devices {
        width: 90%;
        height: 0%;
    }
    .getting-fun {
        font-size: 12px;
        letter-spacing: 0;
        line-height: 16px;
        margin: 0 0 20px;
        padding: 0;
    }
    .display-pos-2{
        width: 228px;
        height: 144px;
        top: -164px;
    }
    .background-cover {
        background-size:auto 100%;
    }
    .no-nonsense {
        width: 100%;
        right:0;
    }
    .back-pocket {
        font-size: 21px;
        line-height: 25px;
        letter-spacing: -1.5px;
    }
    .pass-text, .arrow, .hand, .text-change-color, .wardrobe {
        display:none;
    }
    .boarding-pass {
        bottom: auto;
        left: 50%;
        margin-top: 20px;
        margin-left: -120px;
        width: 240px
    }
    .vine{
        height: 240px;
        left: 0;
        top: 0;
        width: 240px;
    }
    .spacing-bottom {
        margin-bottom: 16px;
    }
    .display-iPad h3, .display-iPad strong {
        font-size: 23px;
        font-weight: 300;
        line-height: 21px;
        letter-spacing: 0;
        margin: 0 auto;
        display: inline;
        position: static;
    }
    .look img {
        margin:auto 0;
    }
    .wrapper h2{
        font-size: 48px;
        font-weight: 200;
        letter-spacing: -2px;
        line-height: 50px;
        margin: 0 auto 25px;
    }
    .wrapper p {
        font-size: 16px;
        height: auto;
        line-height: 20px;
        margin-bottom: 25px;
        padding: 0 40px;
    }
    .book {
        font-size: 14px;
        line-height: 42px;
        width: 280px;
        height: 42px;
    }
    .final-logo-icon {
        width: 120px;
        margin: 0 auto;
    }

}

@media screen and (max-height: 490px) and (max-width: 767px) {
    .background-cover p {
        display:none;
    }
    .look {
        top: 79%;
    }
    .more-questions {
        top: -76%;
    }
    .final-logo {
        top:65%;
        padding-top: 14px;

    }
}